/*
        header
*/
body,
html {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 66px;
  background-color: #E2E2E2; }

.add-buttons {
  float: right;
  margin-right: 30px;
  font-family: "Segoe UI"; }
  .add-buttons .add-board {
    outline: none;
    margin-top: 16px;
    margin-bottom: 11px;
    width: 140px;
    height: 40px;
    border: black solid 1px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer; }
    .add-buttons .add-board:hover {
      border: none;
      border-width: none;
      background: #2620a7; }
  .add-buttons .add-note {
    outline: none;
    margin-top: 16px;
    margin-bottom: 11px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border: #F65151 solid 1px;
    border-radius: 100%;
    background-color: #F65151;
    color: white;
    font-size: 20px;
    cursor: pointer; }
    .add-buttons .add-note:hover {
      border: #2620a7 solid 1px;
      background-color: #2620a7; }

.tabs {
  margin-left: 90px;
  width: calc(100% - 390px);
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
  z-index: 200; }

.board-tab {
  margin-right: 10px;
  text-align: center;
  outline: none;
  padding-top: 3px;
  margin-top: 25px;
  font-family: "Segoe UI";
  border-style: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: inline-block; }
  .board-tab > div {
    display: inline-block; }
  .board-tab.active {
    border: white solid 1px;
    border-radius: 10px 10px 0px 0px;
    background: white;
    min-width: 150px;
    min-height: 40px; }
  .board-tab .normal-color {
    background-color: #E2E2E2; }

.active {
  visibility: visible !important; }

/*
         Flex classes
*/
.flex-container {
  display: flex; }

* {
  box-sizing: border-box; }

.flex-column {
  flex-direction: column; }

.align-items-end {
  align-items: flex-start; }

.justify-content-space-between {
  justify-content: space-between; }

.flex-grow-1 {
  flex-grow: 1; }

/*
         Flex classes End 
*/
/*
         note classes
*/
.note-wrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 66px);
  visibility: hidden; }

.tab-holder {
  position: relative; }

.note {
  animation: open-note 1s forwards;
  word-break: break-all;
  word-wrap: break-word;
  position: absolute;
  width: 250px;
  height: 220px;
  min-height: 100px;
  min-width: 175px !important;
  resize: both;
  z-index: 1;
  overflow: auto;
  /* something other than visible */
  box-shadow: 0px 0px 12px #888889; }
  .note:hover {
    cursor: pointer; }
  .note .body {
    overflow-y: scroll;
    height: calc(100% - 35px);
    font-family: "Segoe UI";
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%; }
  .note .body:focus {
    outline: none; }
  .note .note-buttons {
    padding-bottom: 10px;
    padding-left: 23px;
    width: 100%;
    visibility: hidden; }
  .note:hover .note-buttons {
    visibility: visible !important; }

.note-delete {
  position: relative;
  border: none !important; }

.note-delete::after {
  content: 'X';
  top: 3px;
  left: 5.2px;
  bottom: 0;
  margin: auto;
  color: white;
  position: absolute; }

.circle {
  box-sizing: content-box;
  padding: 11.5px;
  border-radius: 50%;
  border: 1px solid #707070;
  width: 0;
  height: 0px;
  cursor: pointer;
  margin-right: 7px; }

.circle-small {
  position: absolute;
  top: 1px;
  left: 92%;
  background: #707070;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  width: 0;
  height: 0px;
  cursor: pointer;
  margin-right: 7px;
  font-size: 5px; }

.note-delete-small {
  position: absolute;
  visibility: hidden; }

.note-delete-small::after {
  content: 'X';
  top: -2px;
  left: 2px;
  bottom: 0;
  margin: auto;
  color: white;
  font-weight: bold;
  position: absolute; }

.grew-color {
  background: #EFEFEF; }

.red-color {
  background: #FEAEAE; }

.green-color {
  background: #CDFCB6; }

.blue-color {
  background: #B6D7FC; }

.dark-red-color {
  background: #FF0000; }

.update-color {
  background: #c0ccda !important; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  height: 10px; }

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 10px;
  background: #707070; }

@keyframes open-note {
  from {
    height: 0px;
    width: 0%; } }
/*
         note classes End
*/

/*# sourceMappingURL=style.css.map */
